$color-primary: #FF79DA;
$color-loader-primary: #ff79da12;
$color-secondary: #9356DC;
$color-loader-secondary: #9356DCab;
$color-tertiary: #99E2D0;
$color-four: linear-gradient($color-tertiary 10%);
$color-five: white;
$color-six: #f6f6f6;
$color-seven: #E8E8E8;
$color-eight: #c9c9c9;
$color-nine: black;
$color-button: linear-gradient($color-primary 0%, $color-secondary 100%);
$color-loader: linear-gradient($color-loader-primary 0%, $color-loader-secondary 100%);
$color-loader-rot: linear-gradient(90deg, $color-primary 25%, $color-tertiary 50%, $color-secondary 75%);
$color-banniere: linear-gradient($color-eight 0%, $color-seven 12%);
$color-hover: #9356DC21;
$color-item: #7f7f7f;
$color-footer: #353535;
$back-color-desk-prim: #f6f6f630;
$back-color-desk-sec: #35353585;